<footer class="bg-dark text-warning py-3 mt-5 border-top">
  <div class="container text-center">
    <p class="mb-1">
      <i class="bi bi-person-fill"></i>
      <strong>Jose Antonio Amaya</strong>
    </p>

    <p class="mb-1">
      <i class="bi bi-telephone-fill"></i>
      <a href="tel:+34123456789" class="text-warning">+34 656 303 542</a>
    </p>

    <p class="mb-0">
      <i class="bi bi-envelope-fill"></i>
      <a href="mailto:amayapostig@email.com" class="text-warning">amayapostig@email.com</a>
    </p>
  </div>
</footer>

